# Maven
/target/

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IntelliJ
.idea/
*.iml

# Eclipse
*.classpath
*.project
*.settings/

# Logs e arquivos temporários
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db